---
import { Image } from 'astro:assets'

interface Props {
	href?: string
}

const { href = '/' } = Astro.props
---

<a
	class="flex items-center gap-3 font-black text-xl tracking-tight"
	href={href}
	bg-ink
	data-brand-link>
	<Image src="/favicon.svg" alt="Brand mark" width={32} height={32} />
	<span>sparks</span>
</a>
